@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Montserrat&family=Roboto&display=swap");

/* index.css or global CSS file */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s forwards;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
